<!DOCTYPE html>
<html>

	<head>
		<meta charset="utf-8">
		<title>地址管理</title>
		<meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1,user-scalable=no">
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="apple-mobile-web-app-status-bar-style" content="black">

		<link href="../css/mui.min.css" rel="stylesheet" />
		<link href="../css/style.css" rel="stylesheet" />

		<body>
			<header class="mui-bar mui-bar-nav">
				<a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left" style="color: #999999;"></a>
				<h1 class="mui-title">地址管理</h1>
			</header>
			<div class="mui-content">
				<ul class="mui-table-view" id="deleteAdr">
					<li class="mui-table-view-cell">
						<div class="mui-slider-right mui-disabled">
							<a class="mui-btn mui-btn-red">删除</a>
						</div>
						<div class="mui-slider-handle">
							北京市大栅栏街道延寿街87号
							<div class="addresslist">苏长城 18610897716 [超出服务范围]</div>
						</div>
					</li>
				</ul>
			</div>
			<div class="footer">
				<a  href="addAddress.html" style="color: #ffffff;font-size: 20px;">
				<button type="button" class="mui-btn-block mui-btn-warning mui-icon mui-icon-plus">添加新地址</button>
				</a>
			</div>
			<script src="../js/mui.min.js"></script>
			<script type="text/javascript" src="../js/jquery-1.11.0.js"></script>
			<script>
				$(function() {
					mui.init();
					(function($) {
						//删除地址
						$('#deleteAdr').on('tap', '.mui-btn', function(event) {
							var elem = this;
							var li = elem.parentNode.parentNode;
							mui.confirm('确认删除该地址信息？', '提示', btnArray, function(e) {
								var id = li.getAttribute("id");
								if (e.index == 0) {
									li.parentNode.removeChild(li);
//									$.ajax({
//										url: "",
//										type: "delete",
//										dataType: "json",
//										contentType: "application/json",
//										timeout: 8000,
//										async: true,
//										data: "",
//										beforeSend: function(xhr) {
//											plus.nativeUI.showWaiting();
//											xhr.setRequestHeader('X-Auth-Token', token);
//										},
//										success: function(data) {
//											plus.nativeUI.closeWaiting();
//											console.log(data.status);
//											if (data.status == "200") {
//												plus.nativeUI.toast("删除成功！");
//												li.parentNode.removeChild(li);
//												window.location.reload();
//											} else {
//												plus.nativeUI.toast("删除失败!");
//												$.swipeoutClose(li);
//											}
//										},
//										error: function() {
//											plus.nativeUI.closeWaiting();
//											plus.nativeUI.toast('系统繁忙，请重新删除！');
//										}
//									})
								} else {
									setTimeout(function() {
										$.swipeoutClose(li);
									}, 0);
								}
							});
						});
						var btnArray = ['确认', '取消'];
					})(mui);
				})
			</script>
		</body>

</html>